* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container {
    width : 100%;
    height : 100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #3a4452;
    padding : 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color : #fff;
    cursor: pointer;
    margin: 10px;
}
.calculator form input:hover {
    background: rgba(255, 255, 255, 0.1);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin : 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form .last-row .equal {
    width : 145px;
}

form h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

form .change-color {
    color : #33ffd8 !important;
}

/* ===== Mobile Responsive ===== */

@media  (max-width: 400px) {
    .calculator {
        padding: 10px;
    }

    .calculator form input {
        width: 50px;
        height: 50px;
        font-size: 18px;
        margin: 5px;
    }

    form .display input {
        font-size: 35px;
    }

    form .last-row .equal {
    width : 115px;
    }
    
}


